# Python
__pycache__/
*.pyc
.venv/
.env

# Data
#sample_data/*.txt
logs/*.*
/input_data/synthetic_data/*.*

#pages
/pages/sub/*.*
/pages/sub


# IDE
.vscode/
.idea/

#.py files
p1.py
app_old.py  

#files
Projects/capstone/gitcommands.txt

#/output_data/chat*.json
